div {
    position: absolute;
    left: 200px;
    top: 5px;
    animation-name: ball;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes ball {
    0% {
        position: absolute;
        left: 200px;
        top: 5px;
    }
    45% {
        position: absolute;
        top: 375px;
        left: 275px;
    }
    65% {
        position: absolute;
        top: 250px;
        left: 340px;
    }
    85% {
        position: absolute;
        top: 375px;
        left: 410px;
    }
    90% {
        position: absolute;
        top: 350px;
        left: 425px;
    }
    95% {
        position: absolute;
        top: 375px;
        left: 440px;
    }
    100% {
        position: absolute;
        top: 375px;
        left: 460px;
    }
}

img {
    width: 75px;
    height: 75px;
}

hr {
    width: 100%;
    height: 10px;
    background-color: royalblue;
    margin-top: 450px;
}